.paragraphContainer{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

@media screen and (min-width: 520px) {
    .paragraphContainer{
        width: 60vw;
    }
}