body{
    /* background: rgb(2,0,36); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgb(40,40,40), rgb(0,0,0));
    /* background-image: linear-gradient(to bottom right, rgba(196, 34, 161, 0.7), rgba(21, 91, 124, 0.788)); */
    /* background-image: linear-gradient(to bottom right, rgba(196, 34, 34, 0.877), rgba(21, 91, 124, 0.863)); */
    /* background-image: linear-gradient(to top left, #070347, #0a416e); */
    /* background: url("images/background.png") center; */
    font-family: sans-serif;
}

.loginbox{
    width: 500px;
    height: 420px;
    background: rgba(10, 10, 10, 0.45);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 30px;
}

h1{
    margin: 0;
    padding: 0, 0, 20px;
    text-align: center;
    font-size: 1.3em;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    color: #8a0000;
    opacity: 0;
}

.acc_details{
    text-align: center;
}

.loginbox p{
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(1, 121, 11);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 20px ;
}

.loginbox input[type="button"]:hover{
    cursor: pointer;
    background: rgb(54, 199, 110);
}

