.Sidebar{
    padding: 10px 50px;
    height: calc(100vh - 70px);
}

.sidebarPreface{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    font-size: 1.7rem;
}

@media screen and (min-width: 500px) {
    .Sidebar{
        max-width: fit-content;
    }
}